<!DOCTYPE html>
<html>
  <head>
    <title>Notas de Voz</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script type="module" src="/js/main.js"></script>
    <script src="/utils/moment/moment.js"></script>
    <script src="/utils/moment/es.js"></script>
    <script src="/utils/snackbar/snackbar.min.js"></script>
    <link rel="stylesheet"href="/utils/snackbar/snackbar.min.css" />
  </head>
  <body>
    <h1>Proyecto</h1>
    <p>Sistemas Web (2023-2024)</p>
    <div id="liRecordButton"></div>
    <div id="play"></div>
    <div id="upload"></div>
    <div id="fileList"></div>
    
    
  </body>
</html>
